<h1 class="text-center mt-4 h1">
  <%= album['name'] %>
</h1>

<div class="py-4"></div>

<div class="container d-flex justify-content-center h2 fw-light">
  <%= link_to "by #{@artists[album['artist'].to_i - 1]['name']}", "/artists/#{album['artist']}", style: 'text-decoration: none'%>
</div>

<div class="py-4"></div>

<% unless album['description'].nil? %>
  <div class="container d-flex justify-content-center fw-light col-3">
    <%= album['description'] %>
  </div>
<% end %>

<div class="py-4"></div>

<div class="text-center fw-light">
  Entry by 
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle m-1" viewBox="0 0 16 16">
    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
  </svg>
  <span>
    <%= link_to album.user['username'], "/users/#{album.user['id']}", style: 'text-decoration: none' %>
  </span>
</div>

<div class="py-4"></div>